{% extends 'base.html.twig' %}

{% block title %}Liste des categories{% endblock %}

{% block body %}

<div class="container">
   <h1>Liste des categories</h1>

    <ul>
        {% for categorie in categories %}
            <li>
                
                <a  href="{{ path('app_listeModule',{'id': categorie.id}) }}">{{categorie}}</a> 
                <a class="btn btn-warning" href="{{ path('edit_category',{'id': categorie.id}) }}">Edit</a> 
                <a class="btn btn-warning" href="{{ path('delete_category',{'id': categorie.id}) }}">Suprimer</a> 
                <p>nombre de module dans cet catégorie: {{ (categorie.modules)|length }} {{ (categorie.modules)|length < 2 ? ' module disponible' : ' modules disponibles' }} allant de l’initiation a des formations diplômante.</p>{#pour compter le nombre de module disponible#}</a> 
            </li>
        {% endfor %}
  
    </ul>
    <a class="button" href="{{ path('new_category') }}">Ajouter une Category</a>
</div>
{% endblock %}