{% extends 'base.html.twig' %}

{% block title %}Liste des stagiaire{% endblock %}

{% block body %}

<div class="container">
   <h1>Liste des stagiaire</h1>

    <ul>
        {% for stagiaire in stagiaires %}
            <li>
                <a href="{{ path('app_detailStagiaire', {'id': stagiaire.id})}}">{{stagiaire}}</a>
                <a class="btn btn-warning" href="{{ path('edit_stagiaire',{'id':stagiaire.id}) }}">Edit</a>
                <a class="btn btn-warning" href="{{ path('delete_stagiaire',{'id': stagiaire.id}) }}">Suprimer</a>
            </li>
        {% endfor %}
  
    </ul>
    <a class="button" href="{{ path('new_stagiaire') }}">Ajouter une stagiaire</a>
</div>
{% endblock %}