{% extends 'base.html.twig' %}

{% block title %}Ajouter des stagiaires a la session{% endblock %}

{% block body %}

{# templates/session/add_modules_to_session.html.twig #}
<div class="container">
    {{ form_start(form) }}

    {# Affichez le formulaire principal pour les modules #}
    {{ form_row(form.programmes) }}
    {% for module in form.programmes %}
    {{ dump(module) }}
    {% endfor %}
    {# <h3>Module</h3>
    <ul class="modules"
        data-index="{{ form.programmes|length > 0 ? form.programmes|last.vars.name + 1 : 0 }}"
        data-prototype="{{ form_widget(form.programmes.vars.prototype)|e('html_attr') }}"
    >
        {% for module in form.programmes %}
     
            <li>{{ form_row(module) }}</li>
        {% endfor %}
        <button type="button" class="add_module_link" data-collection-holder-class="modules">Add a tag</button>
    </ul> #}

    {{ form_end(form) }}
</div>
{% endblock %}






