{# {% extends 'base.html.twig' %}

{% block title %}Ajouter une Programme{% endblock %}

{% block body %} 
<div class="container">
    {% if edit %}
        <h1>Modifier un programme</h1>
    {% else %}
        <h1>Ajouter un Programme</h1>
    {% endif %}
    
    {{ form_start(formProgramme) }}
        
                {{ form_row(formProgramme.nbJours) }}
                {{ form_row(formProgramme.session) }}
                {{ form_row(formProgramme.module) }}
          
    {{ form_end(formProgramme) }}
</div>    
{% endblock %} #}
